$CAF_PINK: #fbbfbe;

.header--title{
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-around;
  background-color: black;
  color: $CAF_PINK;
  padding: 1px;
}

.header--title__logo {
  img {
    height: 50px;
    margin-left: 10px;
  }
}

.header--title__options {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1px;
  margin-bottom: 1px;
  button{
    color: gray;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin: 4px;
    transition: 0.1s;
    &:hover {
      opacity: 1;
      color: $CAF_PINK;
    }
  }
}

.yasabes {
  background-color: red !important;
}