$CAF_PINK: #fbbfbe;

.header--title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: $CAF_PINK;
}

.header--title__logo {
  img {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.header--title__options {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  margin-bottom: 1px;
  button{
    border: none;
    font-size: 14px;
    padding: 6px;
    .header--title__options__active {
      transition: 0.1s;
      padding: 6px;
      color: $CAF_PINK;
      border-bottom: 3px solid $CAF_PINK;
      font-size: 16px;
    }
    .header--title__options__not-active {
      color: $CAF_PINK;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        color: $CAF_PINK;
      }
    }
    background-color: transparent;
    font-size: 15px;
    margin: 4px;
    transition: 0.1s;
    &:hover {     
      cursor: pointer;
    }
  }
}

.header--title__admin {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  opacity: 0.5;
  color: $CAF_PINK;
  justify-content: center;
  align-items: center;
  button{
    color: gray;
    border: none;
    background-color: transparent;
    font-size: 10px;
    transition: 0.1s;
  }
  img {
    height: 32px;
    width: 32px;
    display: flex;
  }
  &:hover {
    opacity: 1;
    button {
      color: $CAF_PINK;
    }
  }
}
