$CAF_PINK: #fbbfbe;

.newPlayerForm {
  display: flex;
  flex-direction: column;
  background-color: $CAF_PINK;
  color: white;
  min-height: 75vh;
  max-height: 100%;
  padding: 20px;
  width: 100%;
  @media (max-height: 500px) {
    height: 130vh;
  }

  .newPlayerForm__fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    padding: 25px;
    justify-content: center;

    @media (min-width: 600px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: flex-start;
    padding-top: 4%;
    span {
      color: $CAF_PINK;
    }
    margin: 5px;
  };
  input {
    outline: none;
    border: {
      top: none;
      left: none;
      right: none;
    }
  };
  .submitButton{
    margin: 8%;
    width: 70%;
    background-color: $CAF_PINK;
    color: white;
    border-radius: 1rem;
  } 
}