$CAF_PINK: #fbbfbe;

.players_page {
  display: flex;
  flex-direction: column;
}
.players_page_list {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  .players_by_position--players{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media (min-width: 500px) {
    margin-bottom: 10px;
    .players_by_position{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: left;
      .players_by_position--players{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
